nav{
width: 1600px;
height: 92px;
display: flex;
justify-content: space-between;
align-items: center;
padding: 16px 200px ;
background-color:
#1A0B2E;
}
.logo1{
width: 219px;
height: 32px;
border: 1px solid rgba(0, 0, 0, 1);
}
.list1{
    display: flex;
list-style-type: none;
gap: 32px;
}
.list1 a{
    display: flex;
    text-align: center;
    text-decoration: none;
    font-size: medium;
    color: #FFFFFF;
    font-size: 14px;
    justify-content: center;
   font-size: medium;
}

.btn-pri-1{
width: 135px;
height: 44px;
justify-content: center;
align-items: center;
gap: 4;
padding: 12px 16px ;
border-radius: 100px;
background: var(--Linear, linear-gradient(47.64deg, rgba(247, 233, 63, 1),rgba(251, 9, 180, 1),rgba(145, 0, 248, 1)));
}
.btn-pri-2{
width: 135px;
height: 44px;
justify-content: center;
align-items: center;
gap: 4;
padding: 12px 16px ;
border-radius: 100px;
border-color:#00FF88 ;
color: #00FF88;
background-color: transparent;
}
